name: CI build

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check all links in *.md files
        id: lychee
        uses: lycheeverse/lychee-action@v2.5.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: >-
            --verbose --no-progress **/*.md
            --exclude "https://ingest.us0.signalfx.com.*"
            --exclude "http://localhost*"
      - name: Fail if there were link errors
        run: exit ${{ steps.lychee.outputs.exit_code }}
